@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
.nav-link{
	margin-right: 15px;
	color:#91b1db;
	letter-spacing: 0.5px;
	transition: 0.5s;
}
.navbar-brand{
	color: #77dfdf;
	letter-spacing: 0.5px;
}
h2{
	color: #35b495;
	letter-spacing: 0.5px;
	font-family: raleway;
}